@charset "UTF-8";
@font-face {
  font-family: "TrebuchetMS";
  src: url("recursos-maquetacion-2-master-css-victor-robles/fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("recursos-maquetacion-2-master-css-victor-robles/fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "WebsymbolsRegular";
  src: url("recursos-maquetacion-2-master-css-victor-robles/fonts/websymbols-regular-webfont.eot");
  src: url("recursos-maquetacion-2-master-css-victor-robles/fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype");
  src: url("recursos-maquetacion-2-master-css-victor-robles/fonts/websymbols-regular-webfont.ttf") format("truetype"), url("recursos-maquetacion-2-master-css-victor-robles/fonts/websymbols-regular-webfont.woff") format("wof"), url("recursos-maquetacion-2-master-css-victor-robles/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

body header {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 70px;
  font-family: BebasNeue;
  width: 100%;
  line-height: 70px;
  overflow: hidden;
}
body header #blog a {
  background-color: #37BCF9;
  text-decoration: none;
  color: white;
  margin-left: 180px;
  padding: 25px 50px 10px 40px;
}
body header #blog a span {
  font-size: 30px;
  font-family: WebsymbolsRegular;
  margin-right: 10px;
  display: inline-block;
  animation-name: rotatewheel;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatewheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
body header #blog a h3 {
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
}
body header #blog a:hover {
  background-color: white;
  color: black;
}
body header #blog a:hover h3 {
  animation: right 500ms linear;
}
@keyframes right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
body header #blog a:hover span {
  animation: below 500ms linear;
}
@keyframes below {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}
body header nav ul {
  margin-left: 100px;
}
body header nav ul li {
  margin-right: 10px;
  display: inline-block;
  margin-right: 40px;
}
body header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 25px;
  letter-spacing: 1px;
  transition: 200ms all;
}
body header nav ul li a:hover {
  color: #37BCF9;
  transform: scale(1.2, 1.2);
}
body #content {
  width: 1200px;
  margin: 0px auto;
}
body #content .banner {
  display: block;
  width: 100%;
  margin-top: 25px;
  text-align: center;
  height: 100px;
  background-image: url(recursos-maquetacion-2-master-css-victor-robles/img/bakbaner.png);
  border: 5px solid lightgrey;
  box-shadow: 0px 0px 2px gray;
  animation: move 20s infinite linear;
  overflow: hidden;
}
body #content .banner h1 {
  line-height: 100px;
  font-family: "BebasNeue";
  color: white;
  letter-spacing: 2px;
  font-size: 40px;
  text-shadow: 2px 2px 1px black;
  animation: text 15s linear;
}
@keyframes move {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -200px -200px;
  }
  100% {
    background-position: 0px 0px;
  }
}
@keyframes text {
  0% {
    transform: translateX(-400%) scale(3, 3);
    opacity: 1;
  }
  50% {
    transform: translateX(400%) scale(3, 3);
    opacity: 1;
  }
  75% {
    transform: translateX(-400%) scale(3, 3);
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
  }
}
body #content #left {
  display: none;
  position: fixed;
}
body #content #left div {
  width: 30px;
  color: #00538c;
  height: 40px;
  line-height: 40px;
  border: 3px solid black;
  background-color: white;
  border-radius: 0px 99px 99px 0px;
  cursor: pointer;
  transition: all 400ms;
  overflow: hidden;
}
body #content #left div span {
  float: right;
  font-family: "WebsymbolsRegular";
  margin-right: 7px;
}
body #content #left div p {
  display: none;
  font-family: BebasNeue;
  letter-spacing: 3px;
  margin-left: 5px;
  font-size: 17px;
  transition: all 400ms;
}
body #content #left div:hover {
  width: 90px;
}
body #content #left div:hover p {
  display: inline;
}
body #content #left .net2:hover {
  width: 160px;
}
body #content #left .col2:hover {
  width: 165px;
}
body #cards {
  width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 60px;
}
body #cards .card {
  margin: 0px auto;
  height: 300px;
  width: 200px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px #b5b4b4;
  text-align: center;
  cursor: pointer;
}
body #cards .card a {
  font-family: "TrebuchetMS";
  text-decoration: none;
  color: black;
}
body #cards .card a span {
  font-family: WebsymbolsRegular;
  font-size: 50px;
  line-height: 115px;
}
body #cards .card a h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #00538c;
}
body #cards .card a p {
  margin-top: 25px;
  color: #4A71AB;
}
body #cards .card:hover {
  background-color: black;
  overflow: hidden;
}
body #cards .card:hover a span {
  display: block;
  color: #37BCF9;
  font-size: 70px;
  animation: wheeldown 300ms linear;
}
@keyframes wheeldown {
  from {
    transform: translateY(-200px);
  }
  to {
    transform: translateY(0%);
  }
}
body #cards .card:hover a h3 {
  color: white;
  display: block;
  animation: textleft 300ms linear;
}
@keyframes textleft {
  from {
    transform: translateX(-150px);
  }
  to {
    transform: translateX(0%);
  }
}
body #cards .card:hover a p {
  color: white;
  display: block;
  animation: textup 300ms linear;
}
@keyframes textup {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0%);
  }
}
body #cuerpo {
  width: 1200px;
  margin: 0px auto;
  margin-top: 50px;
}
body #cuerpo aside {
  float: right;
  width: 27%;
}
body #cuerpo aside #form {
  text-align: center;
  margin-top: 25px;
  margin-right: 34px;
}
body #cuerpo aside #form h3 {
  width: 100%;
  font-family: "BebasNeue";
  background: url(recursos-maquetacion-2-master-css-victor-robles/img/puf.png);
  background-size: 15%;
  letter-spacing: 3px;
  font-size: 30px;
  height: 45px;
  line-height: 45px;
  box-shadow: 3px 4px 0px #393d3f;
  padding-left: 15px;
  text-align: left;
}
body #cuerpo aside #form .buscar form {
  width: 100%;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px #989797 inset;
  border-radius: 5px;
  height: 30px;
  margin-top: 15px;
}
body #cuerpo aside #form .buscar form input {
  height: 30px;
}
body #cuerpo aside #form .buscar form input[type=text] {
  width: 87%;
  float: left;
  border: none;
  background-color: transparent;
}
body #cuerpo aside #form .buscar form input[type=submit] {
  width: 13%;
  font-family: WebsymbolsRegular;
  font-size: 15px;
  color: #555353;
  float: right;
  border: 1px solid lightgray;
  cursor: pointer;
}
body #cuerpo aside #form .login {
  border-left: 1px solid #ccc;
  border-bottom: 5px solid #ccc;
  width: 90%;
  height: 220px;
  margin-top: 40px;
  margin-left: 25px;
}
body #cuerpo aside #form .login label {
  font-family: WebsymbolsRegular;
  display: block;
  position: absolute;
  margin-left: 18px;
  margin-top: 5px;
}
body #cuerpo aside #form .login .password {
  margin-top: 26px;
  font-size: 20px;
}
body #cuerpo aside #form .login input[type=email],
body #cuerpo aside #form .login input[type=password] {
  display: block;
  margin-top: 20px;
  width: 80%;
  margin-left: 40px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
}
body #cuerpo aside #form .login input[type=submit],
body #cuerpo aside #form .login input[type=reset] {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  width: 100px;
  height: 35px;
  background: linear-gradient(#3eb8e5 0%, #2ca0ca 100%);
  border: 1px solid #155b70;
  color: white;
  font-size: 15px;
}
body #cuerpo aside #form .login a {
  display: block;
  float: left;
  margin-left: 10px;
  text-decoration: none;
  color: #454444;
  font-family: "TrebuchetMS";
  font-size: 14px;
}
body #cuerpo aside #form .login a:hover {
  color: #3eb8e5;
  text-decoration: underline;
}
body #cuerpo aside #form .net {
  border-left: 1px solid #ccc;
  border-bottom: 5px solid #ccc;
  width: 90%;
  height: 200px;
  margin-top: 40px;
  margin-left: 25px;
}
body #cuerpo aside #form .net .icon {
  display: block;
  margin-top: 40px;
  margin-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
body #cuerpo aside #form .net .icon a {
  display: block;
  font-family: "WebsymbolsRegular";
  color: black;
  text-decoration: none;
  float: left;
  font-size: 30px;
}
body #cuerpo aside #form .net .icon p {
  display: block;
  background-color: #393d3f;
  color: white;
  width: 45%;
  height: 30px;
  line-height: 30px;
  margin-left: 50px;
  border-radius: 20px;
  font-weight: bold;
  transition: all 400ms;
  transform: translateX(-80px);
  opacity: 0;
  letter-spacing: 1px;
}
body #cuerpo aside #form .net .icon:hover p {
  opacity: 1;
  transform: translateX(0%);
}
body #cuerpo #contenido {
  width: 68%;
}
body #cuerpo #contenido .título {
  text-align: center;
  font-family: "BebasNeue";
  height: 70px;
  line-height: 70px;
  background: url(recursos-maquetacion-2-master-css-victor-robles/img/puf.png);
  background-size: 15%;
  box-shadow: 3px 4px 0px #393d3f;
  font-size: 25px;
  letter-spacing: 3px;
}
body #cuerpo #contenido .artículos {
  font-family: "TrebuchetMS";
}
body #cuerpo #contenido .artículos .artículo {
  margin-top: 40px;
  border: 2px solid lightgrey;
  height: 100px;
}
body #cuerpo #contenido .artículos .artículo h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  width: 50%;
}
body #cuerpo #contenido .artículos .artículo h3 a {
  font-size: 23px;
  text-decoration: none;
  color: #00538c;
}
body #cuerpo #contenido .artículos .artículo h3 a:hover {
  text-decoration: underline;
}
body #cuerpo #contenido .artículos .artículo span {
  background-color: #393d3f;
  color: white;
  height: 30px;
  width: 25%;
  float: right;
  font-size: 13px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  border-radius: 0px 0px 0px 5px;
}
body #cuerpo #contenido .artículos .artículo p {
  margin-left: 15px;
}
body #cuerpo #contenido .artículos .artículo p a {
  text-decoration: none;
  color: #4A71AB;
}
body #cuerpo #contenido .artículos .artículo p a:hover {
  color: #00538c;
}
body #cuerpo #contenido #button {
  margin-top: 40px;
  border: 2px solid lightgrey;
  height: 120px;
  text-align: center;
  line-height: 120px;
}
body #cuerpo #contenido #button a {
  text-decoration: none;
  color: #00538c;
  font-family: BebasNeue;
  font-size: 40px;
  letter-spacing: 2px;
}
body #cuerpo #contenido #button:hover {
  background: #393d3f;
  border-radius: 100px;
  border: 12px solid #3eb8e5;
  animation: color 10s infinite linear;
}
body #cuerpo #contenido #button:hover a {
  color: white;
  text-shadow: 0px 5px black;
}
@keyframes color {
  0% {
    border: 12px solid #3eb8e5;
  }
  25% {
    border: 12px solid yellowgreen;
  }
  50% {
    border: 12px solid orangered;
  }
  75% {
    border: 12px solid green;
  }
  100% {
    border: 12px solid palevioletred;
  }
}
body footer {
  display: grid;
  background: black;
  height: 470px;
  margin-top: 70px;
  overflow: hidden;
}
body footer #container {
  margin: 0px auto;
  width: 80%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body footer #container div {
  width: 320px;
  height: auto;
  margin: 40px;
}
body footer #container div h3 {
  width: 100%;
  background: white;
  text-align: center;
  height: 55px;
  line-height: 55px;
  border-radius: 7px;
  font-family: BebasNeue;
  font-size: 40px;
  letter-spacing: 2px;
}
body footer #container div nav ul li {
  list-style: none;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid white;
}
body footer #container div nav ul li a {
  text-decoration: none;
  color: #37BCF9;
  font-family: "TrebuchetMS";
  font-size: 25px;
  margin-left: 20px;
  letter-spacing: 1px;
  transition: all 300ms linear;
}
body footer #container div nav ul li:hover a {
  margin-left: 60px;
}
body footer #container div iframe {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}
body footer #container div .html {
  margin: 15px 0px 0px 40px;
  width: auto;
}
body footer #container div a img {
  margin: 15px 0px 0px 8px;
  float: left;
  width: 45px;
}
body footer #container div p {
  color: white;
  font-family: "TrebuchetMS";
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}
body footer #container div p a {
  color: #37BCF9;
  text-decoration: none;
}
body footer #container div .con {
  margin-top: 70px;
}

/*# sourceMappingURL=styles.css.map */
